<%- include('includes/header'); %>

<%- include('includes/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="display-1 text-center">ERROR 404!</h1>
      <p class="text-center lead">The page you are looking for is not real. And neither is you</p>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>